/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    box-sizing: border-box;
    margin: 0 auto;
    /* font-family: 'Poppins', sans-serif; */
}
ul{
    list-style: none;
}

.nav-items{
    width: 86%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100px;
}
.items.resources{
    flex: 1;
}
.toggle{
    display: none;
}
.nav-items li{
    padding-right: 30px;
}
.nav-items li a{
    text-decoration: none;
    color: hsl(257, 7%, 63%);
}
.nav-items li a:hover{
    color: hsl(257, 27%, 26%);
}

/* Mobile menu */
@media all and (max-width: 767px){
    .nav-items .toggle{
        order: 1;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        display: block;
    }
    .items{
        order: 2;
        width: 80%;
        text-align: center;
        display: none;
        padding: 10px 0;
        align-items: center;
        min-height: 70px;
    }
    .items.resources{
        flex: none;
    }
    .items.active{
        display: block;
    }
}
.features{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}
/* .features .fe{
    display: flex;
    flex-direction: column;
} */
/* .features .fe p{
    width: 60%;
}
.features > div > h1{
    width: 40%;
    text-align: left;
} */
.features div img{
    width: 100%;
    height: auto;
    margin-right: -120px;
}
.features div button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: 25%;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}
.features .intro-img{
    margin-left: auto;
    flex: 1;
}
@media screen and (max-width: 768px){
    .features{
        flex-direction: column-reverse;
        text-align: center;
    }
    .features div button{
        width: 40%;
    }
} 


.shorten{
    /* margin-top: -57px; */
    width: 80%;
    border-radius: 5px;
    height: auto;
    background: url(./images/bg-shorten-desktop.svg);
    background-position: 8% 20%;
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    padding: 40px 0px;
    display: flex;
    position: relative;
    top: 59px;
}
.shorten input{
    height: 40px;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.shorten input[type='url']{
    width: 80%;
}
.shorten input[type='url' i]{
  padding-left: 10px;
}
.shorten input[type='submit']{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: 10%;
}

@media all and (max-width: 768px){
    .shorten{
        background: url(./images/bg-shorten-mobile.svg);
        background-color: hsl(257, 27%, 26%);
        background-position: 0% 0%;
        height: auto;
        flex-direction: column;
        top: 96px;
    }
    .shorten input[type='submit']{
        width: 80%;
        margin-top: 10%;
    }
}
.link{
    background: hsl(220, 16%, 96%);
    height: 800px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
}
.link > div{
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    /* align-content: space-between; */
}
.link-items{
    padding: 50px 30px;
    background: #fff;
    border-radius: 5px;
    height: 300px;
}
.link-items p{
    font-size: 18px;
    line-height: 30px;
}
.link-body{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 370px;
    position: relative;
}
.link-header {
    text-align: center;
}
.link-header p{
    width: 65%;
}
.brand::before{
    content:url(./images/icon-brand-recognition.svg);
    margin-top: -80px;
    position: absolute;
    padding: 10px;
    border-radius: 34px;
    background: hsl(257, 27%, 26%)
}

.detailed{
    align-self: center;
}
.customizable{
    align-self: flex-end;
}
.detailed::before{
    content: url(./images/icon-detailed-records.svg);
    margin-top: -80px;
    position: absolute;
    padding: 10px;
    border-radius: 34px;
    background: hsl(257, 27%, 26%);
}
.customizable::before{
    content: url(./images/icon-fully-customizable.svg);
    margin-top: -80px;
    position: absolute;
    padding: 10px;
    border-radius: 34px;
    background: hsl(257, 27%, 26%)
}
span{
    width: 80%;
    height: 10px;
    background: hsl(180, 66%, 49%);
    position: absolute;
    margin-top: 257px;
}
@media screen and (max-width:768px){
    .link{
        padding-bottom: 30px;
        height: auto;
    }
    .link-body{
        flex-direction: column;
        gap: 80px;
        height: auto;
    }
    .link > div{
        text-align: center;
        gap: 40px;
    }
    .link-header{
        margin: 115px 0;
    }
    .link-header p{
        width: auto;
    }
    .detailed, .customizable{
        align-self: auto;
    }
    .brand::before, .detailed::before, .customizable::before{
        margin-left: -31px;
    }
    span{
        width: 2%;
        height: 857px;
        background: hsl(180, 66%, 49%);
        position: absolute;
        margin-top: 308px;
        left: 375px;
    }
   
}
@media screen and (max-width:425px){
    span{
        width: 2%;
        height: 857px;
        background: hsl(180, 66%, 49%);
        position: absolute;
        margin-top: 308px;
        left: 207px;
    }
}
@media screen and (max-width:375px){
    span{
        width: 2%;
        height: 857px;
        background: hsl(180, 66%, 49%);
        position: absolute;
        margin-top: 324px;
        left: 180px;
    }
}
@media screen and (max-width:320px){
    span{
        width: 2%;
        height: 857px;
        background: hsl(180, 66%, 49%);
        position: absolute;
        margin-top: 326px;
        left: 157px;
    }
}
.call-to-action{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    background: url(./images/bg-boost-desktop.svg) hsl(257, 27%, 26%);
}
@media screen and (max-width:767px) {
    .call-to-action{
        background: url(./images/bg-boost-mobile.svg) hsl(257, 27%, 26%);
        height: auto;
    }
}
.call-to-action h1{
    color: #fff;
    margin-bottom: 10px;
}
.call-to-action button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}
h2{
    font-weight: 700;
}
footer{
    background: hsl(260, 8%, 14%);
    color: #fff;
    display: flex;
    min-height: 300px;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    padding-top: 50px;

}

footer .footer-items li {
    padding-bottom: 15px;
}
footer .footer-items li a{
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}
footer .social-icon{
    display: flex;
}
footer .social-icon li{
    padding-right: 20px;
}
@media screen and (max-width: 767px){
    footer{
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    footer ul{
        padding-bottom: 20px;
    }
}