*{
    box-sizing: border-box;
    margin: 0 auto;
}
ul{
    list-style: none;
}

.nav-items{
    width: 86%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100px;
}
.items.resources{
    flex: 1;
}
.toggle{
    display: none;
}
.nav-items li{
    padding-right: 30px;
}
.nav-items li a{
    text-decoration: none;
    color: hsl(257, 7%, 63%);
}
.nav-items li a:hover{
    color: hsl(257, 27%, 26%);
}

/* Mobile menu */
@media all and (max-width: 767px){
    .nav-items .toggle{
        order: 1;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        display: block;
    }
    .items{
        order: 2;
        width: 80%;
        text-align: center;
        display: none;
        padding: 10px 0;
        align-items: center;
        min-height: 70px;
    }
    .items.resources{
        flex: none;
    }
    .items.active{
        display: block;
    }
}
.features{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    gap: 30px;
    
}
.features div img{
    width: 100%;
    height: auto;
    margin-right: -120px;
}
.features div button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: 25%;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}
.features .intro-img{
    margin-left: auto;
    flex: 1;
}
@media screen and (max-width: 768px){
    .features{
        flex-direction: column-reverse;
        text-align: center;
    }
    .features div button{
        width: 40%;
    }
}
.shorten{
    margin-top: 50px;
    width: 80%;
    border-radius: 5px;
    height: auto;
    background: url(./images/bg-shorten-desktop.svg);
    background-position: 8% 20%;
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    padding: 40px 0px;
}
.shorten input{
    height: 40px;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.shorten input[type='url']{
    width: 80%;
}
.shorten input[type='url' i]{
  padding-left: 10px;
}
.shorten input[type='submit']{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: 10%;
}

@media all and (max-width: 737px){
    .shorten{
        background: url(./images/bg-shorten-mobile.svg);
        background-color: hsl(257, 27%, 26%);
        background-position: 0% 0%;
        height: auto;
    }
    .shorten input[type='submit']{
        width: 80%;
        margin-top: 10%;
    }
}
.link_performance{
    background: hsl(220, 16%, 96%);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.link_performance > div{
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature-items{
    padding: 45px;
    background: #fff;
    border-radius: 5px;
}
.feature-items img{
    position: absolute;
    top: -85px;
    left: -25px;
    padding: 10px;
    border-radius: 34px;
    background: hsl(257, 27%, 26%)
}
.feature-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    height: auto;
    /* padding: 30px; */
}
/* .feature-header p{
    width: 47%;
} */
.feature-header{
    text-align: center;
}
@media screen and (max-width:768px){
    .feature-items{
        text-align: center;
    }
    .feature-body{
        grid-template-columns: 1fr;
        height: auto;
    }
    .features > div{
        text-align: center;
    }
    /* .feature-items{
        padding: 0;
    } */
    .feature-header p{
        width: auto;
    }
}
.call-to-action{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    background: url(./images/bg-boost-desktop.svg) hsl(257, 27%, 26%);
}
@media screen and (max-width:767px) {
    .call-to-action{
        background: url(./images/bg-boost-mobile.svg) hsl(257, 27%, 26%);
        height: auto;
    }
}
.call-to-action h1{
    color: #fff;
    margin-bottom: 10px;
}
.call-to-action button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}
footer{
    background: hsl(260, 8%, 14%);
    color: #fff;
    display: flex;
    min-height: 300px;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    padding-top: 50px;

}

footer .footer-items li {
    padding-bottom: 15px;
}
footer .footer-items li a{
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}
footer .social-icon{
    display: flex;
}
footer .social-icon li{
    padding-right: 20px;
}
@media screen and (max-width: 767px){
    footer{
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    footer ul{
        padding-bottom: 20px;
    }
}